@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 400;
}
/* *{
  border: 1px solid;
} */
.container {
  max-width: 1136px;
  margin: 0 auto;
}

.button {
  padding: 9px 17px;
  background-color: #4cfdc7;
  border-radius: 4px;
  font-size: 16px;
}

.button_fz-12 {
  font-size: 12px;
}

.button_stroke {
  background-color: transparent;
  border: 1px solid #18181b;
}

/* navigation */

.navigation {
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-bottom: 130px;
}

.navigation__aside {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.navigation__list {
  display: flex;
  column-gap: 32px;
}

.navigation__link {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.navigation__name {
  color: #18181b;
}

/* header-content */

.header-content {
  display: flex;
}

.header-content__aside {
  margin-right: 132px;
  padding-top: 32px;
  max-width: 660px;
}

.header-content__title {
  font-size: 71px;
  line-height: 90px;
  letter-spacing: 1px;
  margin-bottom: 34px;
}

.header-content__text {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 20px;
  max-width: 460px;
  letter-spacing: 0.1px;
  color: #27272a;
}

.header-content__buttons-group {
  display: flex;
  column-gap: 15px;
}
/*table */

.table__title-group{
  padding: 24px 0;
  display: flex;
  column-gap: 32px;
  justify-content: center;
}
.table__title{
  font-size: 14px;
}
.table__title_disable{
  color: #71717A;
}
.table__header {
  font-size: 14px;
  padding-right: 85px !important;
}
.table__row{
  display: flex;
  border-top: 1px solid #F4F4F5;
  padding: 16px 32px; 
  align-items: center;
}
.table__row:last-child{
  border-bottom: 1px solid #F4F4F5;
}
.table__row-aside{
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}
.cell{
  flex-grow: 1;
  flex-basis: 0;
}

.table__asset-column{
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.table__button{
  background-color: #9AFD4C;
  font-size: 11px;
}
.table__change-column{
  color: #10B981;
}
.table__change-column_negative-change{
  color: #F43F5E;
}
.view-all{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-all__img-group{
  display: flex;
  align-items: center;
}
.view-all__img-box{
  position: relative;
}
.view-all__img{
  width: 24px;
  height: 24px;
}
.view-all__img-box_z-index-1{
  z-index: 1;
}
.view-all__img-box_z-index-2{
  left: -6px;
  z-index: 2;
}
.view-all__img-box_z-index-3{
  left: -12px;
  z-index: 3;
}
.view-all__img-box_z-index-4{
  left: -18px;
  z-index: 4;
}
