.how-it-works__cards-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 80px;
}
@media screen and (max-width:1080px){
    .how-it-works__cards-wrapper{
        justify-content: space-around;
    }
}
.how-it-works__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
@media screen and (max-width:485px){
    .how-it-works__img{
        width: 100px;
    }
}
.how-it-works__card-box{
    background-color: $secondary-color;
    max-width: 330px;
    height: 440px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 10px 30px;
}
@media screen and (max-width:834px){
    .how-it-works__card-box{
        max-width: 210px;
        height: 320px;
    }
}
@media screen and (max-width:485px){
    .how-it-works__card-box{
        flex-direction: row;
        column-gap: 20px;
        max-width: 455px;
        height: 157px;
        padding: 20px;
    }
}
.how-it-works__card-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    row-gap: 10px;
}
@media screen and (max-width:834px){
    .how-it-works__card-info-box{
        align-items: start;
    }
}
.how-it-works__card-title{
    @include h5-style($font-work, $semi-bold);
    line-height: 140%;
}
@media screen and (max-width:834px){
    .how-it-works__card-title{
        font-size: 16px;
    }
}
.how-it-works__card-text{
    @include base-style($font-work, $regular);
    line-height: 140%;
    text-align: center;
}
@media screen and (max-width:485px){
    .how-it-works__card-text{
        text-align: left;
    }
}
@media screen and (max-width:834px){
    .how-it-works__card-text{
        font-size: 12px;
    }
}