// fonts
$font-space: "Space Mono", monospace;
$font-work: "Work Sans", sans-serif;
$bold: 700;
$semi-bold: 600;
$regular: 300;

// colors
$primary-color: #2B2B2B;
$secondary-color: #3B3B3B;
$caption-label-text-color: #858584;
$text-color:#FFFFFF;
$call-to-action-color: #A259FF;


