@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@100..900&display=swap");
.nav {
  display: flex;
  padding: 5px 35px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 5px;
  }
}
.menu__burger {
  display: none;
}

@media screen and (max-width: 875px) {
  .menu__burger {
    display: block;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #2B2B2B;
  }
  .menu__burger:focus ~ .menu__list {
    position: absolute;
    top: 57px;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    width: 70%;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

@media screen and (max-width: 950px) {
  .menu__list {
    gap: 20px;
  }
}
@media screen and (max-width: 875px) {
  .menu__list {
    display: none;
  }
}
.menu__link {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.menu__link:hover {
  color: #a200ff;
  transition: 0.2s;
}

.menu__button {
  background-color: #A259FF;
  max-width: 152px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #A259FF;
  padding: 20px 30px;
  transition-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

@media screen and (max-width: 875px) {
  .menu__button {
    padding: 10px 30px;
  }
}
.menu__button:hover {
  background-color: transparent;
  cursor: pointer;
}

.menu__button:active {
  background-color: #A259FF;
  cursor: pointer;
}

.menu__button-icon {
  padding-right: 6px;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-template-areas: "a c" "b c";
  -moz-column-gap: 30px;
       column-gap: 30px;
}

@media screen and (max-width: 600px) {
  .header-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a" "c" "b";
  }
}
.description-wrapper {
  grid-area: a;
}

.description-title {
  font-family: "Work Sans", sans-serif;
  font-size: 67px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 110%;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .description-title {
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #FFFFFF;
  }
}
.description-text {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 160%;
  margin-bottom: 30px;
}

@media screen and (max-width: 950px) {
  .description-text {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
  }
}
.get-started-btn {
  background-color: #A259FF;
  max-width: 224px;
  border-radius: 20px;
  padding: 20px 50px;
  border: none;
  transition-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.get-started-btn:hover {
  background-color: transparent;
  border: 2px solid #A259FF;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .get-started-btn {
    background-color: #A259FF;
    width: 100%;
    padding: 20px 95px;
    max-width: 540px;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 40px auto;
  }
}
.info-wrapper {
  grid-area: b;
}

.info {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 750px) {
  .info {
    justify-content: space-around;
  }
}
.info-number {
  font-family: "Space Mono", monospace;
  font-size: 28px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 140%;
}

@media screen and (max-width: 834px) {
  .info-number {
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
  }
}
.info-text {
  line-height: 160%;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
}

@media screen and (max-width: 834px) {
  .info-text {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
  }
}
.avatar {
  grid-area: c;
}

.header-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-box {
  width: 100%;
  background-color: rgb(59, 59, 59);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 22px 20px;
}

.avatar-title {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 140%;
  margin-bottom: 10px;
}

.avatar-user-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar-username {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}

.title-template {
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.text-template {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 60px;
}

.trending-collection {
  margin-bottom: 80px;
}

.trending-collection__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 1080px) {
  .trending-collection__wrapper {
    justify-content: space-around;
  }
}
.trending-collection__card {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 15px;
}

.collection__card-primary-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection__card-secondary-box {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.collection__card-secondary-more {
  display: grid;
  background-color: #A259FF;
  width: 100px;
  height: 100px;
  place-items: center;
  border-radius: 20px;
}

@media screen and (max-width: 375px) {
  .collection__card-primary-img {
    width: 100%;
    height: auto;
    max-width: 315px;
  }
  .collection__card-secondary-img, .collection__card-secondary-more {
    width: 100%;
    height: auto;
    max-width: 95px;
  }
}
.collection__more-btn {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 375px) {
  .collection__more-btn {
    font-size: 16px;
  }
}
.trending-collection__avatar-title {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 140%;
  margin-bottom: 10px;
}

.trending-collection__user-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.trending-collection__username {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}

.creators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 91px auto;
  grid-template-areas: "a a a b" "d d d d";
  row-gap: 60px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1030px) {
  .creators {
    grid-template-areas: "a a b b" "d d d d";
  }
}
@media screen and (max-width: 720px) {
  .creators {
    grid-template-columns: 1fr;
    grid-template-rows: 110px auto 65px;
    grid-template-areas: "a" "d" "b";
    row-gap: 40px;
  }
}
.creators__title-box {
  grid-area: a;
}

.creators__btn-box {
  grid-area: b;
  place-self: end;
}

.creator-card__wrapper {
  grid-area: d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 1080px) {
  .creator-card__wrapper {
    justify-content: space-around;
  }
}
.title-template {
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.text-template {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 60px;
  line-height: 140%;
}

@media screen and (max-width: 720px) {
  .creators__text {
    margin-bottom: 0;
  }
}
.creators__btn {
  background-color: transparent;
  max-width: 251px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #A259FF;
  padding: 20px 50px;
  transition-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

@media screen and (max-width: 720px) {
  .creators__btn {
    max-width: 315px;
    padding: 20px 84px;
  }
}
@media screen and (max-width: 720px) {
  .creators__btn-box {
    place-self: center;
  }
}
.creators__btn-img {
  padding-right: 12px;
}

.creator-card__box {
  width: 240px;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 20px;
}

@media screen and (max-width: 834px) {
  .creator-card__box {
    width: 330px;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
}
.creator-card__num {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  color: #858584;
  font-size: 16px;
  background-color: #2B2B2B;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 20px;
  position: absolute;
  top: 18px;
  left: 20px;
}

@media screen and (max-width: 834px) {
  .creator-card__num {
    top: 13px;
    left: 12px;
  }
}
.creator-card__avatar {
  padding-bottom: 20px;
}

@media screen and (max-width: 834px) {
  .creator-card__avatar {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 834px) {
  .creator-card__img {
    padding-bottom: 0;
    width: 60px;
    height: 60px;
  }
}
.creator-card__username {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 140%;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 834px) {
  .creator-card__username {
    text-align: left;
  }
}
.creator-card__total-info {
  display: flex;
  gap: 10px;
}

.creator-card__total-name {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #858584;
  font-size: 16px;
}

.creator-card__total-sum {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 16px;
}

@media screen and (max-width: 400px) {
  .categories__title {
    font-size: 28px;
    margin-bottom: 40px;
  }
}
.categories__title {
  margin-bottom: 60px;
}

.categories__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1080px) {
  .categories__card-wrapper {
    justify-content: space-around;
  }
}
.categories__card-img-box {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width: 834px) {
  .categories__card-img-box {
    max-width: 150px;
  }
}
.categories__card-img {
  filter: blur(5px);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories__card-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.categories__card-title-box {
  background-color: rgb(59, 59, 59);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 76px;
  display: grid;
  align-content: center;
  padding-left: 20px;
}

@media screen and (max-width: 834px) {
  .categories__card-title-box {
    max-width: 150px;
    height: 89px;
  }
}
.categories__card-title {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 140%;
}

@media screen and (max-width: 834px) {
  .categories__card-title {
    max-width: 150px;
    font-size: 16px;
  }
}
.discover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 91px auto;
  grid-template-areas: "a b" "c c";
  row-gap: 60px;
}

@media screen and (max-width: 720px) {
  .discover {
    grid-template-columns: 1fr;
    grid-template-rows: 91px auto;
    grid-template-areas: "a" "c" "b";
    row-gap: 40px;
  }
}
.discover__title-box {
  grid-area: a;
}

.discover__btn-box {
  grid-area: b;
}

.discover__card-wrapper {
  grid-area: c;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1080px) {
  .discover__card-wrapper {
    justify-content: space-around;
  }
}
@media screen and (max-width: 720px) {
  .discover__card-wrapper {
    margin-bottom: 0px;
  }
}
.discover__btn {
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #A259FF;
  padding: 19px 50px;
  transition: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

@media screen and (max-width: 720px) {
  .discover__btn {
    max-width: 330px;
    padding: 19px 114px;
  }
}
.discover__btn-box {
  place-self: end;
}

@media screen and (max-width: 720px) {
  .discover__btn-box {
    place-self: center;
  }
}
.discover__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.discover__card-box {
  max-width: 330px;
}

@media screen and (max-width: 720px) {
  .discover__card-box {
    max-width: 315px;
  }
}
.discover__btn-img {
  padding-right: 12px;
}

.discover__user-info-box {
  background-color: rgb(59, 59, 59);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 30px 25px 30px;
}

@media screen and (max-width: 720px) {
  .discover__user-info-box {
    padding: 20px 20px 25px 20px;
  }
}
.discover__avatar-box {
  margin-bottom: 25px;
}

.discover__avatar-title {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 140%;
  margin-bottom: 5px;
}

.discover__user-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.discover__username {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 16px;
}

.discover__info-box {
  display: flex;
  justify-content: space-between;
}

.discover__bid-box {
  display: grid;
  place-items: end;
}

.discover__info-name {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  color: #858584;
  margin-bottom: 8px;
}

.discover__info-data {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}

.countdown__wrapper {
  position: relative;
}

.gradient-box {
  background: linear-gradient(0deg, rgb(162, 89, 255) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 640px;
}

@media screen and (max-width: 615px) {
  .gradient-box {
    height: 593px;
  }
}
.countdown-img {
  width: 100%;
  height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media screen and (max-width: 615px) {
  .countdown-img {
    height: 593px;
  }
}
.countdown__inner-box {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  padding: 0 15px 60px 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "a c" "b c";
}

@media screen and (max-width: 615px) {
  .countdown__inner-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "a" "c" "b";
  }
}
.countdown-position {
  position: relative;
}

.countdown__avatar-info-box {
  display: inline-flex;
  flex-direction: column;
  row-gap: 30px;
  flex-basis: 0;
  flex-grow: 1;
}

.countdown__avatar-box {
  grid-area: a;
}

.countdown__user {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 151px;
  margin-bottom: 30px;
}

.countdown__username {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}

.countdown__title {
  font-family: "Work Sans", sans-serif;
  font-size: 51px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.countdown__btn {
  background-color: #FFFFFF;
  color: #2B2B2B;
  text-align: center;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 19px 50px;
  transition: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

@media screen and (max-width: 615px) {
  .countdown__btn-box {
    padding: 19px 108px;
  }
}
.countdown__btn-img {
  padding-right: 12px;
}

.countdown__btn span {
  color: #2B2B2B;
}

.countdown__btn-box {
  grid-area: b;
}

.countdown__auction-box {
  max-width: 295px;
  display: flex;
  align-self: end;
  justify-self: end;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(59, 59, 59, 0.5);
  border-radius: 20px;
  padding: 30px;
  grid-area: c;
}

@media screen and (max-width: 615px) {
  .countdown__auction-box {
    place-self: center;
    margin-bottom: 30px;
  }
}
.countdown__auction-title {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  color: #858584;
  color: #FFFFFF;
}

.countdown__time-value-box {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.countdown__time-name-box {
  display: flex;
  justify-content: space-between;
}

.countdown__time {
  font-family: "Space Mono", monospace;
  font-size: 38px;
  font-weight: 700;
  color: #FFFFFF;
}

.countdown__time-title {
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  color: #858584;
  color: #FFFFFF;
  max-width: 81px;
}

.how-it-works__cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1080px) {
  .how-it-works__cards-wrapper {
    justify-content: space-around;
  }
}
.how-it-works__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 485px) {
  .how-it-works__img {
    width: 100px;
  }
}
.how-it-works__card-box {
  background-color: rgb(59, 59, 59);
  max-width: 330px;
  height: 440px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px 30px;
}

@media screen and (max-width: 834px) {
  .how-it-works__card-box {
    max-width: 210px;
    height: 320px;
  }
}
@media screen and (max-width: 485px) {
  .how-it-works__card-box {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    max-width: 455px;
    height: 157px;
    padding: 20px;
  }
}
.how-it-works__card-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

@media screen and (max-width: 834px) {
  .how-it-works__card-info-box {
    align-items: start;
  }
}
.how-it-works__card-title {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 140%;
}

@media screen and (max-width: 834px) {
  .how-it-works__card-title {
    font-size: 16px;
  }
}
.how-it-works__card-text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 140%;
  text-align: center;
}

@media screen and (max-width: 485px) {
  .how-it-works__card-text {
    text-align: left;
  }
}
@media screen and (max-width: 834px) {
  .how-it-works__card-text {
    font-size: 12px;
  }
}
.join-us__wrapper {
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
  padding: 60px;
  margin-bottom: 80px;
}

@media screen and (max-width: 880px) {
  .join-us__wrapper {
    padding: 40px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (max-width: 700px) {
  .join-us__wrapper {
    background-color: transparent;
    flex-direction: column;
    row-gap: 30px;
    padding: 15px;
  }
}
@media screen and (max-width: 880px) {
  .join-us__title {
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #FFFFFF;
  }
}
.join-us__text {
  margin-bottom: 40px;
}

@media screen and (max-width: 880px) {
  .join-us__text {
    font-size: 16px;
  }
}
.join-us__img-adapt {
  display: none;
}

.join-us__img, .join-us__img-adapt {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 970px) {
  .join-us__img {
    display: none;
  }
  .join-us__img-adapt {
    display: block;
  }
}
.join-us-form__input-box {
  position: relative;
  width: 425px;
}

@media screen and (max-width: 880px) {
  .join-us-form__input-box {
    width: 300px;
    position: static;
  }
}
@media screen and (max-width: 700px) {
  .join-us-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.join-us__input {
  width: 425px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;
}

@media screen and (max-width: 880px) {
  .join-us__input {
    width: 300px;
    height: 46px;
    margin-bottom: 16px;
  }
}
.join-us__input::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  color: #2B2B2B;
  padding-left: 20px;
}
.join-us__input::placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  color: #2B2B2B;
  padding-left: 20px;
}

.join-us__btn {
  background-color: #A259FF;
  transition-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  width: 211px;
  height: 60px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 0;
}

@media screen and (max-width: 880px) {
  .join-us__btn {
    width: 300px;
    position: static;
    height: 46px;
  }
}
.copyright-box {
  border-top: 1px solid #858584;
}

.copyright-text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 20px 0;
  color: #858584;
}

.footer__wrapper {
  background-color: rgb(59, 59, 59);
}

.sitemap__wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 920px) {
  .sitemap__wrapper {
    padding: 0 10px;
  }
}
@media screen and (max-width: 880px) {
  .sitemap__wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}
.sitemap__logo-link {
  margin-bottom: 30px;
}

.sitemap__title {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 160%;
  margin-bottom: 30px;
}

@media screen and (max-width: 880px) {
  .sitemap__title {
    margin-bottom: 20px;
  }
}
.sitemap__box-text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  color: #858584;
  line-height: 140%;
  margin-bottom: 20px;
}

@media screen and (max-width: 465px) {
  .sitemap-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.sitemap-form__input-box {
  position: relative;
  width: 420px;
}

@media screen and (max-width: 465px) {
  .sitemap-form__input-box {
    width: 300px;
    position: static;
  }
}
.sitemap-form__input {
  width: 420px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;
}

@media screen and (max-width: 465px) {
  .sitemap-form__input {
    width: 300px;
    height: 46px;
    margin-bottom: 16px;
  }
}
.sitemap-form__input::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  color: #2B2B2B;
  padding-left: 20px;
}
.sitemap-form__input::placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  color: #2B2B2B;
  padding-left: 20px;
}

.sitemap-form__btn {
  background-color: #A259FF;
  transition-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  width: 211px;
  height: 60px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 0;
}

@media screen and (max-width: 465px) {
  .sitemap-form__btn {
    width: 300px;
    position: static;
    height: 46px;
  }
}
.col-1 {
  max-width: 244px;
}

.col-3 {
  max-width: 420px;
}

.sitemap__logo-img {
  margin-bottom: 30px;
}

.sitemap__item {
  margin-bottom: 20px;
}

.sign-up__container {
  margin: 0 auto;
}

.sign-up__wrapper {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

@media screen and (max-width: 700px) {
  .sign-up__wrapper {
    flex-direction: column;
  }
}
.sign-up__img-box {
  flex-grow: 1;
  flex-basis: 0;
}

.sign-up__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 700px) {
  .sign-up__img {
    height: 232px;
  }
}
.create__wrapper {
  padding: 100px 0;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .create__wrapper {
    padding: 30px 15px 40px 15px;
  }
}
.create__input-box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.create__title {
  font-family: "Work Sans", sans-serif;
  font-size: 51px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 140%;
  margin-bottom: 20px;
}

@media screen and (max-width: 865px) {
  .create__title {
    font-size: 38px;
  }
}
.create__text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 160%;
  font-size: 22px;
  margin-bottom: 40px;
  max-width: 460px;
}

@media screen and (max-width: 865px) {
  .create__text {
    font-size: 16px;
  }
}
.create__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@media screen and (max-width: 700px) {
  .create__form {
    justify-content: center;
    align-items: center;
  }
}
.create__input {
  width: 330px;
  height: 46px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  background-color: #FFFFFF;
  background-position: 20px 13px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 865px) {
  .create__input {
    width: 315px;
  }
}
.create__input::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  color: #2B2B2B;
  padding-left: 52px;
}
.create__input::placeholder {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  color: #2B2B2B;
  padding-left: 52px;
}

.create__input-username {
  background-image: url(../img/User.svg);
}

.create__input-email {
  background-image: url(../img/EnvelopeSimple.svg);
}

.create__input-password {
  background-image: url(../img/LockKey.svg);
}

.create__btn {
  background-color: #A259FF;
  transition-duration: 0.5s;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  width: 330px;
  height: 46px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 0;
}

@media screen and (max-width: 865px) {
  .create__btn {
    width: 315px;
  }
}
body {
  background: #2B2B2B;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 15px;
}

.container-large {
  max-width: 1280px;
}/*# sourceMappingURL=style.css.map */