.container{
    margin: 0 auto;
    max-width: 1200px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(14, 1fr);
}
.decor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 28px;
    min-height: 50px;
}
.header{
    background-color: #121526;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
@media screen and (max-width: 1000px) {
    .header{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
@media screen and (max-width: 770px) {
    .header{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
.menu{
    background-color: #EF3D4D;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
@media screen and (max-width: 1000px) {
    .menu{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 15;
    }
}
@media screen and (max-width: 770px) {
    .menu{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
.hero{
    background-color: #4B85C5;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 9;
}
@media screen and (max-width: 1000px) {
    .hero{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 7;
    }
}
@media screen and (max-width: 770px) {
    .hero{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
    }
}
.main
{
    background-color: #202F42;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 13;
}
@media screen and (max-width: 1000px) {
    .main{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 11;
    }
}
@media screen and (max-width: 770px) {
    .main{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
    }
}
.image{
    background-color: #96B0B1;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 11;
}
@media screen and (max-width: 1000px) {
    .image{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 13;
        grid-row-end: 15;
    }
}
@media screen and (max-width: 770px) {
    .image{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 13;
        grid-row-end: 15;
    }
}
.extra{
    background-color: #429F82;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 13;
}
@media screen and (max-width: 1000px) {
    .extra{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 13;
        grid-row-end: 15;
    }
}
@media screen and (max-width: 770px) {
    .extra{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 13;
    }
}
.banner{
    background-color: #DCB35B;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 15;
}
@media screen and (max-width: 1000px) {
    .banner{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 13;
    }
}
@media screen and (max-width: 770px) {
    .banner{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 11;
    }
}