$font-family: "Inter", sans-serif;
$primary: #490E84;
$secondary: #574B63;
$color-grey: #717171;
$color-white: #FFFFFF;
$color-black: #0A0A0A;
$header-background-color: #CBCBCB;
$nav-font-size: 24px;
$h1-size: 64px;