@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "variables", "mixins";
body{
    font-family: $font-family;
}
.container{
    @include container(1200px);
    padding: 0 15px;
}

.nav-wrapper{
    background-color: $color-black;
}
.nav__box{
    @include display-header-footer(31px 0px);
} 

@media screen and (max-width: 800px){
    .nav__box{
        flex-direction: column;
        row-gap: 15px;
        padding: 15px 0;
    }
}
.nav__list{
    display: flex;
    column-gap: 30px;
    order: 1;
}
@media screen and (max-width: 400px){
    .nav__list{
        flex-direction: column;
        row-gap: 15px;
    }
    
}
.logo{
    order: 2;
}
@media screen and (max-width: 800px){
    .logo{
        order: 1;
    }
}
.contact{
    order: 3;
}
@media screen and (max-width: 800px){
    .nav__list{
        order: 2;
    }
}
.nav__link{
    color: $color-grey;
    font-weight: 400;
    align-items: stretch;
}
// /////////////////////////////////////////////////
.header-content-wrapper{
    background-color: $header-background-color;
    margin-bottom: 70px;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}
.header-content__title{
    color: $primary;
    font-size: $h1-size;
    font-weight: bold;
    padding-top: 70px;
    
}
@media screen and (max-width: 1200px){
    .header-content__img{
        @include photo-adapt;

    }
}
.header-content__btn{
    background-color: $primary;
    color: $color-white;
    padding: 20px 120px;
    max-width: 350px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 30px;
}
@media screen and (max-width: 400px){
    .header-content__btn{
        padding: 20px 50px;
    }
}
.phone-choice__title{
    color: $color-grey;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.phones__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 80px;
    margin-bottom: 130px;
}
@media screen and (max-width: 1200px){
    .phones__wrapper{
        justify-content: space-around;
    }
}
.phones__img-box{
    margin-bottom: 20px;
}

.phones__color-en{
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: $color-black;
}
.phones__color-ukr{
    text-align: center;
    font-size: 14px;
    line-height: 130%;
}
.want-to-buy{
    display: flex;   
}
@media screen and (max-width: 560px){
    .want-to-buy{
        flex-direction: column;
    }
}
.want-to-buy__left-side{
    flex-grow: 1;
    flex-basis: 0;
    background-color: $secondary;
    color: $color-white;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 790px){
    .want-to-buy__left-side{
        padding: 0 30px;
    }
}
.want-to-buy__right-side{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
}
@media screen and (max-width: 1200px){
    .want-to-buy__img{
        @include photo-adapt;
    }
}

.want-to-buy__title{
    font-size: 32px;
    color: $color-white;
    margin-bottom: 65px;
}
@media screen and (max-width: 970px){
    .want-to-buy__title{
        font-size: 24px;
        text-align: center;
        margin: 10px;
    }
}
.want-to-buy__form{
    margin-bottom: 30px;
    width: 100%;
    input{
        border: none;
        width: 100%;
        border-bottom: 1px solid $color-white;
        background-color: transparent;
        padding: 20px 0 10px 0;
    }
    ::placeholder{
    opacity: 0.5;
    font-size: 14px;
    color: $color-white;
    font-weight: 300;
    }
}

.want-to-buy__info{
    margin-bottom: 30px;
    opacity: 0.5;
    font-weight: 300;
    text-align: center;
}
.want-to-buy__btn{
    text-transform: uppercase;
    border-radius: 30px;
    background-color: $color-white;
    color: $primary;
    width: 100%;
    max-width: 240px;
    padding: 16px 0px;
    font-size: 14px;
    font-weight: bold;
}
@media screen and (max-width: 1200px){
    .want-to-buy__btn{
        margin-bottom: 10px;
    }
}
.footer-wrapper{
    background-color: $color-black;
}
@media screen and (max-width: 1200px){
    .footer-wrapper{
        padding: 0 10px;;
    }
}
.footer-content{
    @include display-header-footer(50px 0px);
} 
@media screen and (max-width: 790px){
    .footer-content{
        flex-direction: column;
        row-gap: 10px;
        padding: 10px 0;
    }
}
.footer-content__policy-text{
    font-size: 14px;
    text-align: center;
}
