
body{
    background-color: #FFFCB0;
    font-family: "Inter", sans-serif;
}
.container{
    background-color: #B0C6FF;
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 47px;
    font-size: 48px;
}
.cards-wrapper{
    max-width: 1076px;
    margin: 0 auto;
}

.card{
    padding-top: 23px;
    padding-bottom: 15px;
    margin-right: 30px;
    margin-bottom: 25px;
    max-width: 237px;
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    border: 3px solid #000000;
}
.card image{
    width: 148px;
    height: 141px;
    margin-bottom: 10px;
}
.card-title{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 11px;
}
.card-information{
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    text-align: center;
    margin-bottom: 22px;
}
.card button{
    width: 160px;
    height: 40px;
    background-color: #6177EB;
    color: #FFFFFF;
    padding: 0;
    border: none;
}

.card:nth-child(4n){
    margin-right: 0;
}